<div class="detail-container">
  <!-- Fejléc -->
  <div class="header-bar">
    <h2>{{ catalog.name }}</h2>
    <button class="btn btn-primary" (click)="goBack()">
      <i class="bi bi-arrow-left"></i> Vissza
    </button>
    <button class="btn btn-outline-secondary ms-2" type="button" (click)="openHistory()">
      <i class="bi bi-clock-history"></i> Módosítás történet
    </button>
  </div>

  <!-- Táblázat -->
  <table class="catalog-table">
    <thead>
      <tr>
        <th>Érték</th>
        <th>Név</th>
        <th>Műveletek</th>
      </tr>
    </thead>
    <tbody>
      @for (item of catalog.items; track item.id; let i = $index) {
      <tr>
        <td>
          <input type="text" [(ngModel)]="item.value"/>
        </td>
        <td>
          <input type="text" [(ngModel)]="item.name"/>
        </td>
        <td style="white-space: nowrap;">
          <button type="button" class="btn btn-outline-danger" (click)="removeItem(i)">
          <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      } @empty {
        <div class="empty-msg">Nincs megjeleníthető katalógus.</div>
      }
    </tbody>
  </table>

  <!-- Új sor hozzáadása gomb -->
  <div class="add-button-container">
    <button class="btn btn-primary rounded-circle" (click)="addItem()">
      <i class="bi bi-plus"></i>
    </button>
  </div>

  <!-- Gombok -->
  <div class="action-buttons">
    <button class="cancel-btn" (click)="goBack()">Mégsem</button>
    <button class="save-btn" (click)="saveChanges()">Mentés</button>
  </div>
</div>

